<style>
header {
  padding:16px;
}
  .main {
    margin-top:100px;
  }
</style>
<header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">JOITRA</h3>
      <nav class="nav nav-masthead justify-content-center">
        <ul class="nav nav-tabs nav-justified mb-3">
          <li><%= link_to 'post', posts_path %></li>
          <li><%= link_to 'logout', logout_path, method: :delete %></li>
        </ul>
        </ul>
      </nav>
    </div>
</header>
<div class="main">
<div class="row">
  
  <%= form_with(model: @user, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :name, '名前' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :gym, '通っているジム' %>
        <%= f.text_field :gym, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :reason, 'トレーニング目的' %>
        <%= f.text_field :reason, class: 'form-control' %>
      </div>
      
      <div class="al-c"><%= f.submit 'プロフィール編集を完了する', class: 'btn btn-primary' %></div>
    <% end %>
</div>
</div>
 
