<head>
    <link href="users_new.css" rel="stylesheet">
</head>
<style>
　header {
        padding:16px;
   }
  
  .text-center {
        margin-top:100px;
    }
    
</style>
<header class="masthead mb-auto">
    <div class="inner">
      <!-- <h3 class="masthead-brand">Cover</h3> -->
      <h3 class="masthead-brand">JOITRA</h3>
      <nav class="nav nav-masthead justify-content-center">
        <!-- <a class="nav-link active" href="#">Home</a> -->
        <a class="nav-link active" href="/">home</a>
        <!-- <a class="nav-link" href="#">Features</a> -->
        <a class="nav-link" href="login">login</a>
        <!-- <a class="nav-link" href="#">Contact</a> -->
        <a class="nav-link" href="signup">signup</a>
      </nav>
    </div>
</header>
<div class="text-center">
  <h1>Sign up</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @user, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'Email' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'Confirmation' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      
      <%= f.submit 'Sign up', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>