<style>
　header {
  padding:16px;
}
  .main {
    margin-top:100px;
  }
  body {
      background-image: url("<%= asset_path('joitra9.jpg') %>");
      background-size: cover;
    }
</style>
<header>
  <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="<%= user_path(current_user) %>">JOITRA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item"><a href="<%= users_path %>" class="nav-link">USERS</a></li>
        <li class="nav-item"><a href="<%= posts_path %>" class="nav-link">POST</a></li>
        <li class="nav-item"><a href="<%= rooms_path %>" class="nav-link">CHAT</a></li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_user.name %></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><%= link_to 'My profile', user_path(current_user) %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'Logout', logout_path, method: :delete %></li>
            </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="main">
<div class="row">
  <aside class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
      <div class="panel-body al-c">
          <% if @user.image? %>
            <%= image_tag @user.image, :class => "mw50" %>
          <% else %>
          <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
          <% end %>
      </div>
    </div>
  </aside>
  <div class="col-md-8">
  <br>
<h2>ユーザー情報</h2>
<hr>
<p>名前：<%= @user.name %></p>
<p>年齢：<%= @user.age %></p>
<p>性別：<%= @user.sex %></p>
<p>地域：<%= @user.address %></p>
<p>通っているジム：<%= @user.gym %></p>
<p>トレーニング目的：<%= @user.reason %></p>
<p>トレーニング歴：<%= @user.history %></p>
<p>自己紹介：<%= @user.introduce %></p>
<% if current_user == @user %>
  <a href="<%= edit_user_path(@user) %>" class="btn btn-success">ユーザー情報を編集する</a>
<% end %>
  </div>
</div>
</div>