<style>
　header {
  padding:16px;
}
  .main {
    margin-top:100px;
  }
  
</style>
<header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">JOITRA</h3>
      <nav class="nav nav-masthead justify-content-center">
        <ul class="nav nav-tabs nav-justified mb-3">
          <li><%= link_to 'post', posts_path %></li>
          <li><%= link_to 'logout', logout_path, method: :delete %></li>
        </ul>
      </nav>
    </div>
</header>
<div class="main">
<div class="row">
  <aside class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
      <div class="panel-body al-c">
          <% if @user.image? %>
            <%= image_tag @user.image, :class => "mw50" %>
          <% else %>
          <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
          <% end %>
      </div>
    </div>
  </aside>
  <div class="col-md-8">
  <br>
<h2>ユーザー情報</h2>
<br>
<br>
<hr>
<p>名前：<%= @user.name %></p>
<p>年齢：<%= @user.age %></p>
<p>性別：<%= @user.sex %></p>
  <a href="<%= edit_user_path(@user) %>" class="btn btn-success">ユーザー情報を編集する</a>
  </div>
</div>
</div>