<style>
   body {
      background-image: url("<%= asset_path('joitra8.jpg') %>");
      background-size: cover;
    }
    .main {
    margin-top:100px;
  }
  .color {
      color:white;
  }
    
</style>
<header>
  <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">JOITRA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item"><a href="<%= users_path %>" class="nav-link">USERS</a></li>
        <li class="nav-item"><a href="<%= posts_path %>" class="nav-link">POST</a></li>
        <li class="nav-item"><a href="<%= rooms_path %>" class="nav-link">CHAT</a></li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_user.name %></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><%= link_to 'My profile', user_path(current_user) %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'Logout', logout_path, method: :delete %></li>
            </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="main">
<h2>メッセージ一覧</h2>
<% @anotherEntries.each do |e| %>
    <table class="table table-striped">
        <tr>
            <td>
　　　　　　　　　<!-- 名前からroomの詳細に飛べるようにリンク化 -->
                <%= link_to room_path(e.room.id) do %>
                    <%= e.user.name %>
                <% end %>
            </td>
            <td class="color">
               <!-- 最新メッセージ内容の最初の7文字を表示する -->
               <% message = Message.find_by(id: e.room.message_ids.last) %>
               <% if message.nil? %>
               <% else %>
               <% dm = message.content %>
               <%= truncate(dm, length: 10) %>
               <% end %>
            </td>
            <td>
                <h6 style="color: #C0C0C0;"><%= e.updated_at.strftime("%Y/%m/%d %H:%M") %></h6>
            </td>
            <td>
               <!-- ゴミ箱アイコンクリックでroomを消せるようにする -->
                <%= link_to room_path(e.room.id), method: :delete do %>
                    <i class="fas fa-trash" style="color:white;"></i>
                <% end %>
            </td>
        </tr>
    </table>
<% end %>
</div>