<style>
header {
  padding:16px;
}
  .main {
    margin-top:100px;
  }
</style>
<header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">JOITRA</h3>
      <nav class="nav nav-masthead justify-content-center">
        <ul class="nav nav-tabs nav-justified mb-3">
          <li><%= link_to '#', user_path(@user) %></li>
          <li><%= link_to 'logout', logout_path, method: :delete %></li>
        </ul>
      </nav>
    </div>
</header>
<div class="main">
<div class="row">
    <aside class="col-sm-4">
      <%= form_with(model: @post, local: true) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>
    <div class="col-sm-8">
      <%= render 'posts/posts', posts: @posts %>
    </div>
</div>
</div>